<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🌤️ Bem-vindo ao ClimateApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="climate-page ion-padding">
  <div *ngIf="loading" class="loading-container ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Buscando clima...</p>
  </div>
  <div *ngIf="errorMessage" class="error-msg">
    {{ errorMessage }}
    <ion-button fill="clear" (click)="openSearchModal()">Tentar novamente</ion-button>
  </div>
  <ion-card *ngIf="weatherData && !loading" class="weather-card">
    <ion-card-content>
      <h2>{{ weatherData.location.name }}</h2>
      <p>{{ weatherData.current.temp_c }}°C</p>
      <p>{{ weatherData.current.condition.text }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
