<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🌤️ Bem-vindo ao ClimateApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="climate-page ion-padding">
  <div *ngIf="loading" class="loading-container ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Buscando clima...</p>
  </div>

  <ion-card *ngIf="weatherData && !loading" class="weather-card">
   <div class="glass-overlay"></div>
    <ion-button fill="clear" class="btn-close-card" (click)="resetSearch()">
     <ion-icon name="close-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-card-content>
      <div class="header-info">
       <ion-icon name="location-sharp"></ion-icon>
       <h2>{{ weatherData.location.name }}</h2>
      </div>

      <div class="main-display">
        <img [src]="weatherData.current.condition.icon" alt="weather-icon">
        <div class="temp-container">
         <span class="temperature">{{ weatherData.current.temp_c }}°</span>
         <span class="condition">{{ weatherData.current.condition.text }}</span>
        </div>
      </div>
     <hr class="divider">
      <div class="weather-details">
        <div class="detail-item">
         <ion-icon name="water-outline"></ion-icon>
         <span>{{ weatherData.current.humidity }}%</span>
         <small>Umidade</small>
        </div>
        <div class="detail-item">
         <ion-icon name="air-outline"></ion-icon>
         <span>{{ weatherData.current.wind_kph }} km/h</span>
         <small>Vento</small>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
