
<main class="weather-card">
  <header class="card-header">
    <h2>🌤️ Buscar clima</h2>
  </header>
  <div class="modal-icons">
    <ion-icon name="sunny-outline" color="warning"></ion-icon>
    <ion-icon name="cloud-outline" color="medium"></ion-icon>
    <ion-icon name="rainy-outline" color="primary"></ion-icon>
  </div>
 <section class="section_search_dark">
  <h2 class="title">☀️ Buscar clima</h2>
  <div class="search-row">
    <div class="type-selector">
      <ion-radio-group [(ngModel)]="searchType" (ionChange)="changeSearchType()">
        <div class="radio-pill" [class.active]="searchType === 'city'">
          <ion-radio value="city"></ion-radio>
          <ion-label>CID</ion-label>
        </div>
        <div class="radio-pill" [class.active]="searchType === 'cep'">
          <ion-radio value="cep"></ion-radio>
          <ion-label>CEP</ion-label>
        </div>
      </ion-radio-group>
    </div>
    <div class="input-wrapper">
      <ion-select 
        *ngIf="searchType === 'city'"
        [(ngModel)]="query"
        interface="popover" 
        toggle-icon="chevron-down-outline"
        placeholder="Cidade, UF"
        class="custom-field">
        <ion-select-option *ngFor="let state of states" [value]="state.capital">
          {{ state.name }} ({{ state.uf }})
        </ion-select-option>
      </ion-select>
      <ion-input
        *ngIf="searchType === 'cep'"
        [(ngModel)]="query"
       (ionInput)="onCepInput($event)"
       type="tel"
       maxlength="9"
       placeholder="00000-000"
      class="custom-field">
      </ion-input>
    </div>
  </div>
  <ion-button expand="block" class="btn-search-primary" (click)="submitSearch()">
    BUSCAR AGORA
  </ion-button>
</section>
</main>

