<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      🌤️ Bem-vindo ao ClimateApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  
  <div class="center-container">
  <div class="hero">
    <div class="hero-icons">
      <ion-icon [icon]="sunny"></ion-icon>
      <ion-icon [icon]="cloud"></ion-icon>
      <ion-icon [icon]="umbrella"></ion-icon>
    </div>
    <h1>Descubra o clima de qualquer cidade</h1>
    <p>Temperatura, vento, umidade e condições meteorológicas em tempo real.</p>
    <ion-button routerLink="/climate" size="large" color="secondary">
      Ver clima
    </ion-button>
  </div>
</div>

</ion-content>

