<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🌤️ Bem-vindo ao ClimateApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
   
  <div class="center-container">
  <div class="hero">
    <div class="hero-icons">
      <ion-icon [icon]="sunny" color="warning"></ion-icon>
      <ion-icon [icon]="cloud" color="Dark"></ion-icon>
      <ion-icon [icon]="umbrella" color="warning"></ion-icon>
    </div>
    <h1>Descubra o clima de qualquer cidade do brasil</h1>
    <p>Temperatura, vento, umidade e condições meteorológicas em tempo real.</p>
    <ion-button class="btn" routerLink="/climate" size="large" color="warning">
      Ver clima
    </ion-button>
  </div>
</div>

</ion-content>

